.basketul {
  max-width: 700px;
}

.basketli {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 10px;
  box-shadow: 10px 10px 28px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 28px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -10px rgba(0, 0, 0, 0.75);
}
.basketlink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.favorremovebtn {
  background: none;
  margin-right: 1rem;
}
.favorremovebtn:hover {
  background: none;
}
.favorremovebtn svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: rgb(255, 0, 0);
}
.favorremovebtn svg:hover {
  width: 2.5rem;
  height: 2.5rem;
  fill: rgb(97, 97, 97);
}

@media screen and (max-width: 500px) {
  .favorremovebtn {
    margin-right: 0.1rem;
  }
  .favorremovebtn svg {
    width: 2rem;
    height: 2rem;
  }
  .basketli img {
    max-width: 50px;
  }
}
