.basketpagecontainer,
.favorpagecontainer {
  max-width: 900px;
  margin: 0 auto;
}
.favorpagecontainer{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .productsPageContainer {
    padding: 3rem calc(3rem + 10vw);
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .productsPageContainer {
    padding: 3rem 2rem;
  }
}